body {
  background-color: 94B4C1;
}

h1
{
  color: 213448;
}
h2
{
  color: 547792;
}

h3
{
  color: EAE0CF;
}

hr {
 height: 0px;
  width: 100%;
  border-style: solid none none;
  border-width: 1px;
  border-color: black;
}

/*********************************CLASS SELECTORS*********************/

.circular{
  border-radius: 100%;
}

